.portfolio {
    @extend %section;
    background-color: var(--primary-background-color);
}

.portfolio-filter {
    @extend %list;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    & .item:not(:last-child) {
    margin-right: 8px;
    }
}

.portfolio-filter__btn {
    padding: 6px 22px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    color: var(--title-text-color);
    
    background-color: #F5F4FA;
    border: 0 solid transparent;
    border-radius: 4px;
    cursor: pointer;

    transition: color var(--animation-time) var(--animation-timing-function), background-color var(--animation-time) var(--animation-timing-function), box-shadow var(--animation-time) var(--animation-timing-function);

    &:hover, 
    &:focus {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio-filter__btn--everyone {
    padding: 6px 25px;
}

.portfolio-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    & .item {
    flex-basis: calc((100% - 2 * 30px) / 3);
    transition: box-shadow var(--animation-time) var(--animation-timing-function);
    }

    & .item:hover,
    & .item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-list__description {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.portfolio-list__thumb {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
}

.portfolio-list__overlay {
    position: absolute;
    width: 370px;
    height: 294px;
    top: 0;
    left: 0;
    padding: 63px 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: calc(28/18);
    letter-spacing: 0.03em;
    color: var(--primary-background-color);
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform var(--animation-time) var(--animation-timing-function);
}

.portfolio-list .item:hover .portfolio-list__overlay {
    transform: translateY(0);
}

.portfolio-list__title {
    margin-bottom: 4px;
        
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-list__text {
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--primary-text-color);
}